@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800&display=swap');

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
    min-height: 100%;
}

body {
    font-family: 'barlow', sans-serif;
}